/* Chrome, Safari, Edge, Opera için */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox için */
input[type="number"] {
  -moz-appearance: textfield;
}
